<footer class="site-footer text-light pt-5 pb-3 mt-5">
  <div class="container">
    <div class="row gy-4">
      <!-- Logo dan Nama Instansi -->
      <div class="col-md-3">
        <h5 class="fw-bold">Pemerintah Kabupaten Deli Serdang</h5>
        <p class="small">
          Jl. Negara No. 1 Petapahan, Kecamatan Lubuk Pakam <br>
          Kabupaten Deli Serdang, Kode Pos 20517<br/>
          <p><a href="mailto:kominfo.deliserdangkab.go.id" class="text-warning text-decoration-none"><i class="bi bi-envelope-at-fill"></i> kominfo@deliserdangkab.go.id</a></p>
        </p>
      </div>

      <!-- Link Navigasi -->
      <div class="col-md-3">
        <h6 class="fw-bold">Tautan Cepat</h6>
        <ul class="list-unstyled">
          <li><a href="https://portal.deliserdangkab.go.id" class="text-light text-decoration-none">Portal Deli Serdang</a></li>
          <li><a href="https://deliserdangkab.bps.go.id" class="text-light text-decoration-none">BPS Deli Serdang</a></li>
          <li><a href="https://opd.deliserdangkab.go.id" class="text-light text-decoration-none">Organisasi Perangkat Daerah</a></li>
        </ul>
      </div>

      <!-- Link Navigasi -->
      <div class="col-md-3">
        <h6 class="fw-bold">OPD Satu Data</h6>
        <ul class="list-unstyled">
          <li><a href="https://ketapang.deliserdangkab.go.id" class="text-light text-decoration-none">Dinas Ketahanan Pangan</a></li>
          <li><a href="https://dinasp3ap2kb.deliserdangkab.go.id" class="text-light text-decoration-none">Dinas P3AP2KB</a></li>
        </ul>
      </div>

      <!-- Media Sosial -->
      <div class="col-md-3">
        <h6 class="fw-bold">Ikuti Kami</h6>
        <a href="https://www.facebook.com/deliserdangkab" class="text-light me-3"><i class="bi bi-facebook fs-4"></i></a>
        <a href="https://www.twitter.com/DeliSerdang_Kab" class="text-light me-3"><i class="bi bi-twitter-x fs-4"></i></a>
        <a href="https://www.instagram.com/pemkab.deliserdang" class="text-light me-3"><i class="bi bi-instagram fs-4"></i></a>
        <a href="https://www.youtube.com/channel/UCbdyQVBZnpJPPZSKS8ZocUw" class="text-light me-3"><i class="bi bi-youtube fs-4"></i></a>
        <a href="https://www.tiktok.com/@kabupaten.deliserdang?_t=ZS-8zoujF9eyh7&_r=1" class="text-light"><i class="bi bi-tiktok fs-4"></i></a>
      </div>
    </div>

    <hr class="border-secondary mt-4">

    <!-- Copyright -->
    <div class="text-center small">
      &copy; 2025 Pemerintah Kota Contoh. Semua Hak Dilindungi.
    </div>
  </div>
</footer>
